@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    width: 100vw;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
    margin-top: 100px;
    gap: 15px;
    padding: 10px;

    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
}

h2{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
}

h3{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
}

h4{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

h5{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
}

p{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}

.row{
    width: 50%;
}

textarea{
    width: 100%;
    height: 150px;
}

.condicoes{
    width: 100%;

}

h2 {
    text-align: center;
}
.section {
    margin-bottom: 15px;
}
.signature {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
}
.contact {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.linha_assinatura{
    width: 100%;
    height: 2px;
    background-color: black;
}
