@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fonte-primaria: Inter;
    --fonte-secundaria: Futura;
}


body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}


.espaco{
    width: 100vw;
    height: 10vh;
}







header {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 3;
  background-color: #1fd2ff;
}



.barra{
width: 1px;
height: 8vh;
background-color: white;
}



.logotipo{
width: 10vh;
height: 10vh;
}

.logotipo a{    
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.logotipo svg{
width: 50%;
height: 50%;
color: black;
}



.nome_pagina {
width: 90vw;
height: 100%;
display: flex;
padding-top: 0.9%;
padding-left: 2%;
}

.titulo{
font-size: 180%;  
font-family: var(--fonte-primaria);
font-weight: lighter;
}

.container-fluid{
width: 20vw;
height: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: end;  
}

.form-control{
height: 50%;
}

.config{
width: 5vw;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.config svg{  
width: 4vh;
height: 4vh;
color: black;
}

svg:hover{
color: var(--cor-terciaria);
}


/* Fim Header */





.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
}

.card p {
    margin: 0.2rem 0;
}

.card a {
    display: inline-block;
    margin-top: 0.5rem;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}


.info {
  margin-bottom: 1rem;
}
.info strong {
  display: inline-block;
  width: 150px;
}
.status-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}
.status-pendente { background-color: #808080; }
.status-aguardando { background-color: #FFD700; }
.status-negociacao { background-color: #28a745; }
.status-cancelado { background-color: #dc3545; }
.status-aprovado { background-color: #007bff; }

